<html>
<head>
    <title>Tavern Example</title>
</head>
<body>
<h1>{{title}}</h1>

{{{content}}}
<p>
    <a href="/">back</a>
</p>
<p>
    Tags:

{{#tags}}
    <li>{{.}}</li>
{{/tags}}
</p>

</body>
</html>
